<ion-header>
  <ion-toolbar>
    <ion-title>Reminder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let reminder of reminders" >
      <ion-label [routerLink]="['/reminder-detail/']">
        <h2>{{reminder.reminderTitle}}</h2>
        <h3 style="white-space: normal;">{{reminder.reminderDescription}}</h3>
        <p>Priority: {{reminder.priority}}</p>
        <p>Duration: {{reminder.duration}} Minutes</p>
        <p>Due Date: {{reminder.endDate}}</p>
      </ion-label>
      <ion-button size="big">Finish</ion-button>
    </ion-item>

  </ion-list>
</ion-content>
