<div class="container">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a [routerLink]="['/home']" routerLinkActive="active" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/list']" routerLinkActive="active" class="nav-link">Patient List</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/add']" routerLinkActive="active" class="nav-link">Post Reminder</a>
            </li>
            
        </ul>
    </nav>
      <div class="header__container">
          <h1>Patient List</h1>
      </div>
  
      <div class="body__container">
          <table class="table">
              <thead>
                  <tr >
                    <th scope="col" rowspan="2">#</th>
                    <th scope="col" rowspan="2">Patient Name</th>
                    <th scope="col" colspan="3" style="text-align: center;">Priority</th>
                  </tr>
                  <tr>
                    <th scope="col">High</th>
                    <th scope="col">Middle</th>
                    <th scope="col">Low</th>
                  </tr>
                </thead>
              <tbody>
                <tr *ngFor="let patient of patients; let counter=index" [routerLink]="['/detail']">
                  <th scope="row">{{counter+1}}</th>
                  <td>{{patient.patientName}}</td>
                  <td>{{countPriority[0]}}</td>
                  <td>{{countPriority[2]}}</td>
                  <td>{{countPriority[1]}}</td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>
  