<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" novalidate>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" placeholder="Please insert your email" id="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" placeholder="Please insert your password" id="password"></ion-input>
    </ion-item>
    <ion-button expand="block" [routerLink]="['/reminder']">Login</ion-button>
  </form>
</ion-content>
