<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Reminder Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>
      Description
    </ion-label>
  </ion-item-divider>
  <ion-text>You need to walk around your house for 60 minutes</ion-text>

  <ion-item-divider>
    <ion-label>
      Duration
    </ion-label>
  </ion-item-divider>
  <ion-text>60 Minutes</ion-text>

  <ion-item-divider>
    <ion-label>
      Due Date
    </ion-label>
  </ion-item-divider>
  <ion-text>05-31-2022</ion-text>

  <ion-button expand="block" [routerLink]="['/reminder']">Finish</ion-button>


</ion-content>
