<div class="container">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a [routerLink]="['/']" routerLinkActive="active" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/list']" routerLinkActive="active" class="nav-link">Patient List</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/add']" routerLinkActive="active" class="nav-link">Post Reminder</a>
            </li>
        </ul>
    </nav>

    <form class="row" (ngSubmit)="onSubmit()" ngNativeValidate >
        <div class="form-group">
          <label for="exampleInputPassword1">Patient</label>
          <select class="form-control" [(ngModel)]="reminder.patient" (change)="ChangePatient($event)" name="patient" required>
              <option id="priorty__options" *ngFor="let patient of patients" value="{{patient.patientId}}">{{patient.patientName}}</option>
          </select>

          <label>Activity</label>
          <input type="text" class="form-control" id="title" [(ngModel)]="reminder.reminderTitle" name="title" placeholder="Enter Activity" required>
          <label>Description</label>
          <textarea class="form-control" id="description" rows="3" id="description" [(ngModel)]="reminder.reminderDescription" name="description" placeholder="Enter Description" required></textarea>
          <label>Finish Time</label>
            <div class="col-12">
                <div class="input-group">
                    <input class="form-control" type="datetime-local" [(ngModel)]="reminder.endDate" id="end-date" name="end" required>
                </div>
              </div>
            <label>Duration</label>
            <input class="form-control" type="number" placeholder="Duration" [(ngModel)]="reminder.duration" id="duration" name="duration" required>
            <label>Priority</label>
            <select class="form-control" [(ngModel)]="reminder.priority" name="priority" (change)="ChangePriority($event)" required>
                <option id="priorty__options" *ngFor="let item of priority" id="priority" value="{{item.name}}">{{item.name}}</option>
            </select>
            <br>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>